.quoted{
    background-image: url('https://www.tnn.com.pk/wp-content/uploads/2015/02/458817-shutterstock_-1351681031-869-640x480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    resize: both;
    overflow: auto;
}
h1{
    color: rgb(79, 196, 2);
    font-style: italic;
    font-size: 70px;
}
h2{
    font-style: italic;
}  
