
<div class="quoted">
    <h1>QUOTE her!</h1>
    <h2> Welcome to Quote-Application, Enjoy quoting with Us!</h2>
    <div *ngFor= 'let quote of quotes;let i = index'>
      <p>{{quote.name}}, {{quote.authorName}}, {{quote.publishedName}} due on {{quote.completeDate|date|uppercase}}</p>

      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeDel($event,i)'></app-quote-detail>

    </div>

  </div>